<script src="https://cdnjs.cloudflare.com/ajax/libs/keypress/2.1.4/keypress.min.js"></script>

include includes/header

body
  div.wrapper
    input.display
    button.regular-key.one 1
    button.regular-key.two 2
    button.regular-key.three 3
    button.regular-key.four 4
    button.regular-key.five 5
    button.regular-key.six 6
    button.regular-key.seven 7
    button.regular-key.eight 8
    button.regular-key.nine 9
    button.regular-key.zero 0
    button.regular-key.clear C
    button.regular-key.slash /
    button.regular-key.star *
    button.regular-key.minus -
    button.regular-key.plus +
    button.regular-key.enter =
    button.regular-key.period .
